:root {
  --background-color: #0a192f;
  --active-color: #64ffda;
  --heading-color: #ccd6f6;
  --text-color: #8892b0;
}

body {
  /* background-color: var(--background-color); */
  background: rgb(238, 174, 202);
  background: linear-gradient(
    87deg,
    rgba(238, 174, 202, 0.7749474789915967) 0%,
    rgba(158, 240, 226, 1) 100%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p,
li {
  color: rgba(0, 0, 0, 0.71);
  font-family: sans-serif;
  /* text-align: justify; */
  overflow: scroll;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 1em;
}

.intro-text {
  font-size: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding-left: 1em;
  font-size: 20px;
}

.intro-description {
  margin: auto;
  max-width: 1000px;
  min-height: 50vh;
  padding-top: 100px;
}

.intro-description li:before {
  color: white;
  content: "▹ ";
  /* left: 0;
  position: absolute; */
}

.blog-section {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
  justify-items: center; /* Centraal uitlijnen van de kaarten */
}

.card {
  background-image: linear-gradient(
    87deg,
    rgba(238, 174, 202, 0.7749474789915967) 0%,
    rgba(158, 240, 226, 1) 100%
  );
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 300px;
  height: 300px;
  cursor: pointer;
}

.card:hover {
  box-shadow: white 0px 7px 29px 0px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

/* Voor schermen breder dan 600px: twee kolommen */
@media (min-width: 600px) {
  .blog-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Voor schermen breder dan 900px: drie kolommen */
@media (min-width: 900px) {
  .blog-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}
